body {
    background-color: #feffed;
}
.header {
    width: 100%;
    text-align: center; 
    height:20%; 
    margin-bottom: 20px;
}
h1 {
    font-family: 'serif', Georgia, serif;
    color: #660033;
    font-size: 40px;
}
input {
    font-family: 'serif', Georgia, serif;
    font-size: 12px;
}
button {
    font-family: 'serif', Georgia, serif;
    background-color: #660033;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
}
p {
    font-family: 'serif', Georgia, serif;
    font-size: 16px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    flex: 1;
    width: 50%;
    font-size: 16px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #660033ce;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #660033;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #feffed;
  }
